<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="../../public/style.css">
  </head>
  <body class='dark-body'>

    <header>
      <h1>My personal page</h1>
      <nav>
        <a class="white-nav" href="/">Home</a>
        <a class="white-nav" href="/about">About</a>
        <a class="white-nav" href="/contact">Contact</a>
        <a class="white-nav" href="/info">Info</a>
        <a class="white-nav" href="/history">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>